i {
  cursor: pointer;
}

.navbar {
  position: sticky;
  top: 0;          /* Sticks to the top of the viewport */
  z-index: 1000;   /* Ensures it's above other content */
  background-color: #333; /* Optional: Change background color */
  padding: 10px;   /* Optional: Add padding */
}

.login{
    margin-top: 50px ;
}

.card {
  height: 200px; /* Adjust height as needed */
  display: flex; /* Use flexbox to manage layout */
  flex-direction: column; /* Stack elements vertically */
  justify-content: space-between; /* Space elements evenly */
}

.card-body {
  display: flex; /* Use flexbox for card body */
  flex-direction: column; /* Stack title and description */
  flex-grow: 1; /* Allow it to fill remaining space */
}

.card-title {
  font-size: 1.2em; /* Set title size */
  margin: 0; /* Remove default margin */
}

.card-text {
  flex-grow: 1; /* Allow description to grow and take up space */
  margin: 0; /* Remove default margin */
  display: -webkit-box; /* Use box layout for text */
  -webkit-box-orient: vertical; /* Stack children vertically */
  -webkit-line-clamp: 4; /* Limit to 4 lines */
  overflow: hidden; /* Hide overflow */
  text-overflow: ellipsis; /* Add ellipsis for overflow text */
}

.icon-container {
  display: flex; /* Use flex for icons */
  justify-content: flex-end; /* Align icons to the right */
  padding-top: 10px; /* Space between text and icons */
}
